<div>

  <app-hero
  [image]="'assets/homes/Krasicky.jpg'"
  [title]="'Whatever is Lovely'"
  [motto]="'...whatever is true, whatever is noble, whatever is right, whatever is pure, whatever is lovely...'"
  ></app-hero>

  <app-block-text-pic
  [image] = "'assets/Emily/headshot_one.jpg'"
  [position] = "true"
  [objectPosition]="'40% 50%'"
  [isPicRight] = "true"
  [title]="'About Me'"
  [description]="'Hi my name is Emily Williams! Growing up I loved to paint and draw and enjoyed practicing the piano. You could often find me in my room following a step by step drawing book or creating silly videos with my siblings. '"
  [hasBorder] = "true"
  >

  </app-block-text-pic>

  <app-three-circle-center
    [title]="'My Products'"
    [description]="'I have a variety of products that I have created. From paintings to prints, I have a little bit of everything. Check out my shop to see what I have available. '"
    [imageOne]= "'assets/campuses/ball_state.jpg'"
    [subTitleOne]="'Campuses'"
    [subDescriptionOne]="'$150 starting  + shipping'"
    [imageTwo]="'assets/homes/Krasicky.jpg'"
    [subTitleTwo]="'Homes'"
    [subDescriptionTwo]="'$150 starting  + shipping'"
    [imageThree]="'assets/pets/no_name_bulldog.jpg'"
    [subTitleThree]="'Pets'"
    [subDescriptionThree]="'$200 starting  + shipping'"
  >

  </app-three-circle-center>

  <app-block-text-pic
    [isPicRight] = "false"
    [image] = "'assets/campuses/wabash_college.jpg'"
    [hasHeaderTitle] = "true"
    [headingTitle]="'Details & Services'"
    [title]="'Dimensions & Materials'"
    [hasList] = "true"
    [list] = "[
    'All of my paintings are on watercolor paper and painted with watercolor. ',
     'They can be ordered in size 8x10 or 11x14. ',
     'Photos can be included in the order form. ',
     'Text can be added to the bottom of any painting, there is an option for this in the order form.',
     'For home paintings an address can be added to the bottom of the painting.'
     ]"
  >

  </app-block-text-pic>

  <app-block-text-pic
    [isPicRight] = "true"
    [image] = "'assets/homes/Nussbaums.jpg'"
    [title]="'Payment & Shipping'"
    [hasList] = "true"
    [list] = "[
    'Payment is processed through PayPal. Shipping details can be applied to the transaction.',
    'I will send an invoice through PayPal Business for the 50% deposit. I will need the customer’s email to send an invoice.',
    'Once the painting is complete, I will send a photo to you. Then I will send another invoice for the last 50%. +shipping',
    'I will need your name and address to ship the painting. This is included in the order form.',
    'A 50% deposit is required to order.',
     'Shipping is $15.'
     ]"
  >

  </app-block-text-pic>

  <app-pricing
  [description]="'All of my paintings start at either $150 or $200 and the price varies based on the level of detail involved in the painting. I can quote based on the photo and size desired.'"
  >

  </app-pricing>

</div>
