<div>

  <app-hero
  [image]="'assets/homes/Krasicky.jpg'"
  [title]="'Whatever is Lovely'"
  [motto]="'...whatever is true, whatever is noble, whatever is right, whatever is pure, whatever is lovely...'"
  ></app-hero>

  <app-block-text-pic
  [image] = "'assets/Emily/headshot_one.jpg'"
  [position] = "true"
  [objectPosition]="'40% 50%'"
  [isPicRight] = "true"
  [title]="'About Me'"
  [description]="'Hi my name is Emily Williams! Growing up I loved to paint and draw and enjoyed practicing the piano. You could often find me in my room following a step by step drawing book or creating silly videos with my siblings. '"
  [hasBorder] = "true"
  >

  </app-block-text-pic>

  <app-three-circle-center
    [title]="'My Products'"
    [description]="'I have a variety of products that I have created. From paintings to prints, I have a little bit of everything. Check out my shop to see what I have available. '"
    [imageOne]= "'assets/campuses/ball_state.jpg'"
    [subTitleOne]="'Campuses'"
    [subDescriptionOne]="'$150 starting  + shipping'"
    [imageTwo]="'assets/homes/Krasicky.jpg'"
    [subTitleTwo]="'Homes'"
    [subDescriptionTwo]="'$150 starting  + shipping'"
    [imageThree]="'assets/pets/no_name_bulldog.jpg'"
    [subTitleThree]="'Pets'"
    [subDescriptionThree]="'$200 starting  + shipping'"
  >

  </app-three-circle-center>

  <app-block-text-pic
    [isPicRight] = "false"
    [image] = "'assets/campuses/wabash_college.jpg'"
    [hasHeaderTitle] = "true"
    [headingTitle]="'Details'"
    [title]="'Dimensions and Materials'"
    [hasList] = "true"
    [list] = "['All of my paintings are on watercolor paper and painted with watercolor. ', 'They can be ordered in size 8x10 or 11x14. ']"
  >

  </app-block-text-pic>

  <app-block-text-pic
    [isPicRight] = "true"
    [image] = "'assets/homes/Nussbaums.jpg'"
    [title]="'Shipping'"
    [hasList] = "true"
    [list] = "['A 50% deposit is required to order.', 'Shipping is $15.']"
  >

  </app-block-text-pic>

  <app-pricing>

  </app-pricing>

</div>
