<div class="d-flex flex-column p-3 flex-align-center shadow secondary-accent shadow">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="pacifico-regular secondary-text-color">{{title}}</h2>
    <p class="secondary-text-color">{{description}}</p>
  </div>
  <div class="items-container">
    <div class="d-flex flex-column item-container">
      <img src="{{imageOne}}" alt="" class="image">
      <h3 class="secondary-text-color">{{subTitleOne}}</h3>
      <p class="secondary-text-color">{{subDescriptionOne}}</p>
    </div>
    <div class="d-flex flex-column item-container">
      <img src="{{imageTwo}}" alt="" class="image">
      <h3 class="secondary-text-color">{{subTitleTwo}}</h3>
      <p>{{subDescriptionTwo}}</p>
  </div>
    <div class="d-flex flex-column item-container">
      <img src="{{imageThree}}" alt="" class="image">
      <h3 class="secondary-text-color">{{subTitleThree}}</h3>
      <p>{{subDescriptionThree}}</p>
      </div>
  </div>
</div>
