


  <div class="d-flex flex-column align-items-center">
    <ng-container *ngIf="hasHeaderTitle">
      <div class="container">
        <h1 class="pt-4 pacifico-regular primary-text-color-accent text-center">{{headingTitle}}</h1>
      </div>

    </ng-container>

    <div class="d-flex flex-row p-4 container align-items-center">
      <ng-container *ngIf="isPicRight">
        <div class="d-flex flex-column pt-5 flex-grow-1">
          <h2 class="pacifico-regular primary-text-color-accent border-bottom">{{title}}</h2>
          <p>{{description}}</p>
          <ng-container *ngIf="hasList">
            <ul>
              <li *ngFor="let item of list">{{item}}</li>
            </ul>
          </ng-container>
        </div>
        <div class="image pl-5">
          <img src="{{image}}" alt="" class="rounded-corners shadow image-size">
        </div>
      </ng-container>
      <ng-container *ngIf="!isPicRight">
        <div class="image pr-5">
          <img src="{{image}}" alt="" class="rounded-corners shadow image-size">
        </div>
        <div class="d-flex flex-column pt-5 flex-grow-1">
          <h2 class="pacifico-regular border-bottom primary-text-color-accent">{{title}}</h2>
          <p>{{description}}</p>
          <ng-container *ngIf="hasList">
            <ul>
              <li *ngFor="let item of list">{{item}}</li>
            </ul>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>


