@import url(https://unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css);
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";


:root {
  --primary-color: #F1CDC4;
  --secondary-color: #F7DBD4;
  --tertiary-color: #FAEBE7;
  --primary-accent-color: #1D454C;
  --secondary-accent-color: #386168;
  --tertiary-accent-color: #DABD78;
}

.primary-background {
  background-color: var(--primary-color);
}

.secondary-background {
  background-color: var(--secondary-color);
}

.tertiary-background {
  background-color: var(--tertiary-color);
}

.primary-accent {
  background-color: var(--primary-accent-color);
}

.secondary-accent {
  background-color: var(--secondary-accent-color);
}

.tertiary-accent {
  background-color: var(--tertiary-accent-color);
}

.primary-text-color {
  color: var(--primary-color);
}

.secondary-text-color {
  color: var(--secondary-color);
}

.tertiary-text-color {
  color: var(--tertiary-color);
}

.primary-text-color-accent {
  color: var(--primary-accent-color);
}

.secondary-text-color-accent {
  color: var(--secondary-accent-color);
}

.tertiary-text-color-accent {
  color: var(--tertiary-accent-color);
}

.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.shadow {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.visualizer {
  border: 2px solid black;
  padding: 2px;
}

.rounded-corners {
  border-radius: 10px;
}

